
bin/Debug/net8.0/AiNumbers.pdb
bin/Debug/net8.0/MethodBoundaryAspect.dll
bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net8.0/Serilog.Sinks.Console.dll
bin/Debug/net8.0/Tensorflow.Binding.dll
DataBase/train-labels.idx1-ubyte
DataBase/t10k-images-idx3-ubyte/t10k-images-idx3-ubyte
DataBase/train-images-idx3-ubyte/train-images-idx3-ubyte
DataBase/t10k-labels-idx1-ubyte/t10k-labels-idx1-ubyte
DataBase/train-images.idx3-ubyte
DataSetMNIST/t10k-images.idx3-ubyte
.gitignore
DataSetMNIST/t10k-labels.idx1-ubyte
DataBase/t10k-images.idx3-ubyte
DataBase/
bin/

obj/Debug/
obj/project.nuget.cache
obj/project.assets.json
obj/
DataSetMNIST/train-images.idx3-ubyte
DataSetMNIST/train-labels.idx1-ubyte
AiNumbers\SavedSettings
SavedSettings/
